body {
  text-align: center;
  align-items: center;
}
.box {
  display: grid;
  position: relative;
  /* width: 400px;
  height: 450px; */
  width: 100%;
  /* height: 100%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.input-hidden {
  display: none;
}
.weight {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}
.weightVarients {
  display: flex;
  padding: 10px;
  align-items: center;
}
.paw {
  display: flex;
  width: 24px;
}
.star {
  display: inline-flex;
  width: 20px;
}
.addToCart {
  display: block;
  font-size: 85%;
  width: fit-content;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  margin: 10px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  border: 0px;
}
.addToCart:hover {
  cursor: pointer;
}
.priceAndAdd {
  height: 40px;
}
.price {
  margin: 5px;
  position: absolute;
  left: 10px;
  bottom: 15px;
}
.percentDiscount {
  position: absolute;
  margin: 25px 50px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}
.productImage {
  height: 250px;
  margin: 10px auto 10px auto;
}
.check {
  width: 20px;
}
.availability {
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  grid-gap: 3px;
}
.ratingAndAvailability {
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
}
.productTitle {
  height: fit-content;
  padding: 5px;
}
#root {
  display: grid;
  grid-gap: 20px;
}
.container {
  max-width: 1368px;
  width: 100%;
  margin: 0 auto;
}
.fourbytwo {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, auto);
}
#stockText {
  border: none;
  text-align: left;
  display: flex;
  font-size: 11pt;
  margin: auto;
  width: 100px;
}

.buttonContainer {
  align-items: center;
  align-content: center;
  width: auto;
  height: auto;
}

.homeButton {
  margin: auto;
  margin-top: 20%;
  align-items: center;
  background-image: linear-gradient(144deg, #9e34e9, #5b42f3 50%, #0081eb);
  border: none;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  width: 200px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  transition: 200ms;
}

.homeButton:active,
.homeButton:hover {
  width: 220px;
  height: 55px;
  transition: 250ms;
}
